:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  a {
    text-decoration: none;
    color: var(--white);
  }
  
  body {
    width: 100vw;
    min-height: 100vh;
    padding: 25px;
    background-color: var(--main-bg);
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    font-family: "Outfit", sans-serif;
    font-size: 18px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex: 1;
  }
  
  .card {
    width: 350px;
    height: 595px;
    padding: 24px;
    background-color: var(--card-bg);
  
    text-align: left;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    border-radius: 15px;
  
    box-shadow: 0px 20px 40px 0px #00000056;
  }
  
  .card > h1 {
    width: 100%;
    color: var(--white);
    font-size: 23px;
    font-weight: 400;
    margin-top: 26px;
  }
  
  .card > p {
    font-weight: 300;
    color: var(--soft-blue);
  
    margin-top: 20px;
  }
  
  .item {
    position: relative;
  }
  
  .item img {
    width: 300px;
    border-radius: 7px;
  }
  
  .item div {
    width: 300px;
    height: 300px;
    position: absolute;
  
    background: var(--cyan);
  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
  
    filter: opacity(0);
  
    transition: filter 0.2s;
  }
  
  .item div:hover {
    filter: opacity(0.5);
    cursor: pointer;
  }
  
  .item div img {
    width: 50px;
  }
  
  .info {
    width: 100%;
    margin-top: 22px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .info div:nth-child(1) {
    width: 50%;
    gap: 7px;
    display: flex;
    align-items: center;
  
    font-size: 16px;
    font-weight: 600;
    color: var(--cyan);
  }
  .info div:nth-child(2) {
    gap: 7px;
    display: flex;
    align-items: center;
  
    font-size: 16px;
    font-weight: 400;
    color: var(--soft-blue);
  }
  
  hr {
    width: 100%;
    height: 1px;
  
    margin-top: 25px;
  
    border-color: var(--line);
    border-style: solid;
  }
  
  .creator {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  
    margin-top: 15px;
  
    font-size: 17px;
    color: var(--soft-blue);
    text-align: left;
  }
  
  .creator > img {
    width: 33px;
    border: solid 1px var(--white);
    border-radius: 50%;
  }
  
  .creator > a {
    color: var(--white);
  }
  
  footer {
    bottom: 0;
  
    margin-top: 25px;
    filter: brightness(0.5);
  
    font-size: 15px;
    text-align: center;
    color: var(--soft-blue);
  }
  

a:hover{
      color: var(--cyan);
      cursor: pointer;
  }
h1:hover{
      color: var(--cyan);
      cursor: pointer;
  }
  @media (max-width: 375px) {
    .card {
      width: 300px;
      height: 545px;
    }
  
    .card > img {
      width: 250px;
    }
  } ;